body {
    font-family: Palatino, Times, serif;
    background-color: #1fab89;
    text-align: center;
}
.container {
    width: 400px;
    padding: 10px;
    margin: 10px auto 10px auto;
    background: #ff8080;
    border: 3px solid #c6f1d6;
    border-radius: 20px;
}
h1 {
    padding: 10px 0px;
    background-color: #ffba92;
    color: white;
    border: 2px solid #c6f1d6;
    border-radius: 10px;
}
#totalTip {
    visibility: hidden;
    margin: 30px;
    font-size: 25px;
    border: 2px solid #c6f1d6;
    border-radius: 10px;
}
button {
    display: block;
    margin: 15px auto;
    padding: 20px; 
    background-color: #1fab89;
    border: 2px solid #bdbdbd;
    border-radius: 10px;
    background: -webkit-gradient(linear, bottom, top, from(#ffba92), to(#1fab89));
    background: -webkit-linear-gradient(#ffba92,#1fab89);
    background: -o-linear-gradient(bottom, #ffba92, #1fab89);
}
button:hover {
    background: #1fab89;
}
small {
    font-size: 12px;
}
div.results {
    border-bottom: 1px solid black;
}